# IDE specific
.metadata/
RemoteSystemsTempFiles/

# Compiled outputs (The heavy stuff)
**/Debug/
**/Release/
**/*.elf
**/*.list
**/*.map
**/*.o
**/*.d
**/*.su

# OS junk
.DS_Store
Thumbs.db

# IDE/Project specific settings
**/.settings/
**/.project
**/.cproject
**/.mxproject